.section-footer {
  background-color: #121212;
  color: #fff;
}

.footer-logo {
}

.footer-logo-wrap {
}

.footer-address-list {
}
.footer-address-link {
  font-family: DM Sans;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 1.29;
}
.footer-soc-list {
  list-style: none;
}
.footer-soc-link {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 14px;
}

.footer-soc-link:last-child {
  margin-bottom: 0;
}

.footer-nav-list {
  list-style: none;
}
.footer-nav-link {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 14px;
}

.footer-nav-link:last-child {
  margin-bottom: 0;
}

.footer-form {
  margin-top: 75px;
}
.footer-input {
  border-radius: 12px;
  background: #fff;
  padding: 20px 18px;
  max-width: 267px;
}
.footer-btn {
  width: 60px;
  height: 60px;
  padding: 18px 16px;
  border-radius: 12px;
  background: #1d1d1d;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 8px;
}
.footer-text {
  color: #fff;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
}
.footer-text-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer-link-wrap {
  display: flex;
  margin-top: 40px;
  justify-content: flex-start;
}
